{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Site</title>
    <link rel="stylesheet" href="{% static 'assets/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">

  </head>
  <body>


  <section class="section">
    <div class="container">

<div class="columns is-mobile has-text-centered">
  <div style="width: 615px;"class="column is-half is-offset-one-quarter">

    <div style=" margin-top: 80px;"class="card">
    <div style="width: 600px;" class="card-content">
                <div class="card login-card">
                  <div class="row no-gutters">
                    <div class="col-md-5">
                      <img src="{% static 'images/trip2.jpg' %}" alt="login" class="login-card-img">
                    </div>
                    <div style="width: 300px; margin-top: 40px;" class="col-md-7">
                      <div class="card-body">
                  <p class="login-card-description">Password reset complete</p>
                  <h5>Your password has been set. You may go ahead and log in now.</h5>
                        <a class="btn btn-block btn-primary mb-4" href="{% url 'login' %}">Log in</a>
                      </div>
                    </div>
                  </div>
                </div>
</div>

