{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Site</title>
    <link rel="stylesheet" href="{% static 'assets/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">

  </head>
  <body>


  <section class="section">
    <div class="container">

<div class="columns is-mobile has-text-centered">
  <div style="width: 666px;"class="column is-half is-offset-one-quarter">

    <div  class="card">
    <div style="margin-top: 100px;width: 650px;" class="card-content">
                <div class="card login-card">
                  <div class="row no-gutters">
                    <div class="col-md-5">
                      <img src="{% static 'images/trip2.jpg' %}" alt="login" class="login-card-img">
                    </div>
                    <div style="width: 300px; margin-top:25px" class="col-md-7">
                      <div style="width: 300px;"class="card-body">
                        <p class="login-card-description">Email Sent!</p>
                        <p>
                          We’ve emailed you instructions for setting your password, if an account
                          exists with the email you entered. You should receive them shortly.
                        </p>

                        <p>
                          If you don’t receive an email, please make sure you’ve entered the
                          address you registered with, and check your spam folder.
                        </p>
                        <p class="login-card-footer-text"><a class="btn btn-primary" href="{% url 'login' %}" class="text-reset">Back to login</a></p>
                      </div>
                    </div>
                  </div>
                </div>
</div>
</div>