{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Site</title>
    <link rel="stylesheet" href="{% static 'assets/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">

  </head>
  <body>


  <section class="section">
    <div class="container">

<div class="columns is-mobile has-text-centered">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">
                  <p class="login-card-description">Enter your email to reset password</p>
                  <form method="POST">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email here">
                      </div>
                      
                      <input name="login" id="login" class="btn btn-danger login-btn mb-4" type="submit" value="Reset">
                    </form>
                    <p class="login-card-footer-text"><a class="btn btn-primary" href="{% url 'login' %}" class="text-reset">Back to login</a></p>
                </div>
              </div>


</div>









