{% extends 'base-for-admin-setting.html' %}
{% load static %}

        
{% block content %}

<div style="margin-top: 10%; margin-left: 38%; height: 450px;" class="columns is-mobile has-text-centered">
    <form method="post" action="" role="form" class="col s12">
    
      <div class="field">
        {% csrf_token %}
        {{ form.id }}
        <h3 style="color: whitesmoke;">Here you can change Password</h3><hr>
        <div class="input-field col s12">
          {{ form.old_password }}
          <label style="color: whitesmoke;"for="old_password">Old password</label>
        </div>
      </div>
        <div class="field">
        <div class="input-field col s12">
          {{ form.new_password }}
          <label style="color: whitesmoke;"for="new_password">New password</label>
        </div>
      </div>
      <div class="field">
        <div class="input-field col s12">
          {{ form.confirm_password }}
          <label style="color: whitesmoke;"for="password">Re-type password</label>
        </div>
      </div>
      <div class="field">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
      <button class="button is-success btn-lg" type="submit" name="action">Change Password</button>
    </form>
  </div>

{% endblock %}