{% extends 'baseforcontact.html' %}

{% load static %}
{% load humanize %}

{% block content %}



			<div style="background-image:url({% static 'images/trip10.jpg'%}) ; width:100%;height: 100%;" class="container">
		<div id="fh5co-contact" class="fh5co-section animate-box">
				<form action="#">
					<div  class="row">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<p>Far far away, behind the word mountains, far from the poluted cities and towns, there is the pure nature and to experience that pure nature here we are.</p>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>Kathmandu, Nepal</li>
								<li><i class="icon-phone2"></i>+97798********</li>
								<li><i class="icon-mail"></i><a href="#">info@travels.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.travelsite.com</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							
							
						</div>
					</div>
				</form>
			</div>
		</div>
		


	{% endblock %}	
		